@import url('https://fonts.googleapis.com/css2?family=Armata&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family:"Science Gothic",sans-serif; */
}

html{
    scroll-behavior: smooth;
}

.back-to-top{
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: #0B36A8;
    padding: 10px;
    border-radius: 50%;
}

.back-to-top i{
    color: #fff;
}

.whatsapp-icon{
    position: fixed;
    right: 20px;
    bottom: 80px;
    background-color: #25D366;
    padding: 10px;
    border-radius: 50%;
}

.whatsapp-icon i{
    color: #fff;
}

nav{
    background-color: black; 
    position: relative;
}

.nav-container{
    background-color: transparent;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    height: 100px;
    width: 100%;
}

.logo{
    display: flex;
    align-items: center;
    gap: 20px;
    /* border: 2px solid green; */
}

.logo .logo-circle{
    color: white;
    background-color:#0B36A8;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo .logo-name{
    color: #fff;
    font-size: 30px;
}

.nav-links ul{
    /* border: 2px solid red; */
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    gap: 60px;
}

.nav-links ul li a{
    color: #fff;;
    text-decoration: none;
    font-size: 25px;
}

.hero-section{
    background-image: url(header-background.jpg);
    height: 100vh;
    width: 100vw;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.main{
    /* border: 2px solid white; */
    max-width: 1140px;
    width: 50px;
    margin: 0px 80px;
}

.main .title{
    font-size: 30px;
    color: #fff;
}

.main .buttons{
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 40px;
    text-decoration: none;
}

.buttons a:last-of-type{
    color: #fff;
    text-decoration: none;
}
@media (max-width: 992px){
    .hero-section{
        height: 80vh;
        padding: 0px 60px;
    }

    .main .title{
        font-size: 20px;
        line-height: 50px;
        width: 70%;
        color: #fff;
    }
}
@media (max-width: 786px){
    .hero-section{
        height: 80vh;
        padding: 0px 10px;
        text-align: center;
    }

    .main .title{
        font-size: 15px;
        line-height: 40px;
        width: 100%;
        color: #fff;
    }

    .buttons{
        display: flex;
        justify-content: center;
    }
}
     /.......About Section......../

#about{
    max-width: 1140px;
    /* border: 2px solid red; */
    display: block;
    margin: 60px auto;
}

.about-title{
    margin-bottom: 30px;
}

.about-title h2{
    font-size: 30px;
    text-align: center;
    position: relative;
    padding-bottom: 10px;
}

.about-title h2::after{
    content: "";
    position: absolute;
    width: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 3px;
    background-color: #0B36A8;
}

.about-container{
    display: flex;
    align-items: center;
}

.about-image{
    width: 40%;
    display: flex;
    align-items: center;
}

.about-image img{
    width: 100%;
}

.about-details{
    width: 60%;
    margin-left: 50px;
}

.about-details h2{
    font-size: 30px;
    color: #0B36A8;
    margin-bottom: 20px;
}

.personal-details{
    display: flex;
    margin-top: 20px;
}

.details{
    width: 50%;
}

.details ul{
    list-style-type: none;
}

.details ul i{
    margin-right: 6px;
}
@media (max-width:992px){
    .about-title h2
        font-size: 25px;
    }

    .about-container{
        padding: 0 60px;
    }

    .about-details{
        width: 60%;
        margin-left: 40px;
    }

@media (max-width: 786px){
    #about
        display: block;
        margin: 30px auto;
    }

    .about-title h2{
        font-size: 20px;
    }

    .about-container{
        padding: 0 60px;
        flex-direction: column;
    }

    .about-details{
        width: 60%;
        margin-left: 0px;
    }

    .about-image{
        width: 100%;
    }

    .about-image img{
        width: 100%;
    }

    .about-details{
         width: 100%;
         margin-top: 20px;
    }

    .about-details h2{
        font-size: 20px;
        text-align: center;
    }



        /* services Section */

.Services-Section{
    max-width: 1140px;
    /* border: 2px solid red; */
    padding: 60px 0;
    margin: 60px auto;
    text-align: center;
}

.title-container h1{
    color: #0B36A8;
    margin-bottom: 20px;
    font-size: 20px;
}

.title-container h2{
    font-size: 45px;
    line-height: 45px;
}

.Services-container{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-top: 60px;
}

.service-box{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
}

.service-box:hover{
    box-shadow: 2px 2px 10px gray;
    border-radius: 15px;
    transition-duration: 0.5s;
    cursor: pointer;
}

.service-icon{
    background-color: #0B36A8;
    border-radius: 10px;
    width: 65px;
    height: 65px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-icon i{
    color: #fff;
    font-size: 30px;
}

.box-shadow{
    box-shadow: 2px 2px 10px gray;
    border-radius: 20px;
}

.box-shadow:hover{
    box-shadow: 0   0   0   #fff;
    border-radius: 20px;
    transition-duration: 0.5s;
}

    /* Testimonial Section Starts  */

#testimonial{
    background-color: #000000ae;
    background-image: url(whatsappimgtest.jpg);
    padding: 80px 0px;
    background-blend-mode: overlay;
}

.testimonial-container{
    max-width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.review-box{
    background-color: #fff;
    padding: 40px;
    width: 30%;
    border-radius: 15px;
}

.review-box p{
    text-align: center;
    color: #676767;
}

.client-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.client-container i{
    font-size: 60px;
    color: #0B36A8;
}

    /* Contact Us Section Starts  */

#Contact{
    height: 120vh;
}

.contact-title{
    background-color: #184dc0;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-title h2{
    color: #fff;
    font-size: 20px;
}

.contact-title h5{
    color: #d1d1d1;
    font-size: 40px;
}

.contact-form{
    background-color: #fff;
    width: 1000px;
    padding: 60px;
    margin: auto;
    box-shadow: 0px 0px 10px #000000ae;
    border-radius: 15px;
    margin-top: -80px;
    margin-bottom: 50px;
}

.form-row{
    display: flex;
    margin: 15px;
    gap: 15px;
}

.form-row .input{
    width: 50%;
}

.input label{
    color: #676767;
}

.input input{
    width: 100%;
    height:40px;
    border: 1px solid #676767;
    border-radius: 10px;
    padding: 5px;
}

.message-container textarea{
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

.message-container label{
    color: #676767;
}

.submit-button{
    width: 100%;
    margin-top: 20px;
}

.submit{
    width: 100%;
    background-color: #184dc0;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

      /* Footer Section Starts */

footer{
    background-color:#000000d4;
    padding: 60px 0;
}

.footer-container{
    max-width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.footer-box{
    width: 30%;
}

.footer-box p{
    color: #dadada;
    margin: 20px 0px;
}

.social-icons{
    display: flex;
    gap: 15px;
}

.social-icons a{
    background-color: #fff;
    color: #0B36A8;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.social-icons a:hover{
    background-color: #0B36A8;
    color: #fff;
    transition-duration: 0.3s;
}

.footer-box h3{
    color: #fff;
}

.footer-box ul{
    list-style-type: none;
    margin-top: 20px;
}

.footer-box ul li{
    margin-bottom: 10px;
}

.footer-box ul li a{
    color: #dadada;
    text-decoration: none;
}


footer hr{
    max-width: 1140px;
    margin: 30px auto;
    border: 0px;
    height: 1px;
    background-color: #dadada;
}

.footer-bottom{
    max-width: 1140px;
    margin: auto;
    color: #dadada;
    text-align: center;
}